fieldset {
    position: relative;
    padding-top: 1em; 
    padding-left: 5px;  
}
 
legend {
	position: absolute;
    top: -0.7em;
}

div#header {	
	border-bottom: 1px solid;
	padding-bottom: 0px;
}

