body {
	font-family: Arial, Calibri, Tahoma, Times New Roman, Sans Serif;
	font-size: 12px;
}

img#icon {
	height:16px;
	width:16px;
	border: 0px;
	vertical-align: bottom;
}	

span.black {
	color: black;
}

span.left {
	text-align: left;
}

span.error {
	color: red;
	font-style:italic;
}

span.class {
	color:#404040;
	font-style:italic;
}

span#edit {
	display: none;
}

span#tag {
	font-style:italic;
}

div#login{
	width: 300px;
}

div#header {	
	border-bottom: 1px solid;
	padding-bottom: 5px;
}

div#devTitle {
	float:left;
    font-family: 'Press Start 2P';
	font-size: 20px;
}

div#title {
	float:left;
    font-family: 'Press Start 2P';
	font-size: 32px;
}

div#intro {	
	margin-top: 10px;
	margin-bottom: 5px;
	padding-left:5px;
}

div#case {
	width:300px;
}

div.squish {
	display:inline-block;
}

div.tip{
	font-style:italic;
	font-size:11px;
	color: #404040;
	margin-bottom: 5px;
}

div.submit {
	text-align: center;
	margin-top:5px;
}

div.center {
	text-align: center;
}

div.right {
	float:right;
}

fieldset {
	display: inline;
	margin-top: 10px;
	padding: 2px 10px 5px;
	background-color: #F0F0F0;
	border: 1px solid #888888;
}

fieldset#hits {	
	border: 1px solid red;
	margin-bottom: 10px;
	width:275px;
}

fieldset#hits legend {	
	color: red;
}

fieldset#hits ul{	
	margin-top:5px;
	margin-bottom:5px;
	list-style-type:square;
	color: red;
}

legend {
	text-align: left;
	font-weight: bold;
}

label.case {
	display: inline-block;
	text-align: right;
	width: 100px;
	margin-right: 5px;
	margin-bottom: 5px;
}

input#caseSubmit {
	display: none;
}

input.case {
	display: inline-block;
	margin-bottom: 5px;
}

input.radio {
	margin-bottom: 5px;
	margin-bottom: 10px;
}

label.inblock {
	display: inline-block;
	text-align: right;
	margin-right: 5px;
	margin-bottom: 5px;
}

input.inblock {
	display: inline-block;
	margin-bottom: 5px;
}

label.question{
	display:inline-block;
}
