a:link {text-decoration:none;}   
a:visited {color:#800080;} 
a:hover {text-decoration:underline;}  
a:active {color:#FF0000;} 

body {
	font-family: Arial, Calibri, Tahoma, Times New Roman, Sans Serif;
	font-size: 12px;
}

span.title {
	font-family: 'Press Start 2P';
	font-size: 30px;
}

span.black {
	color: black;
}

span.error {
	color: red;
	font-style:italic;
	display: inline-block;
}

span.class {
	color:#404040;
	font-style:italic;
}

span#tag {
	font-style:italic;
}

div#outer {
	width: 100%;
}

div#login fieldset{
	width: 320px;
}

div#title {	
	padding-bottom: 5px;
	margin-bottom: 5px;		
	margin-top: 15px;
	border-bottom: 1px solid;
}

div#user {
	float:right;
}

div#content {	
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left:5px;
}

div#leftPane {	
	padding-left:15px;
	width: 350px;	
}

div#submit {
	margin-top: 5px;
	margin-bottom: 5px;
}


div.instructions {	
	width: 100%;
	margin-bottom: 5px;
	font-style:italic;
	font-size:11px;
	color: #404040;
}

div.center {
	text-align:center;
}

input#caseOwner {
	background:#c0c0c0;
}

fieldset {
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #F0F0F0;
	border: 1px solid #888888;
}

fieldset label, fieldset input {
	margin-top: 2.5px;
	margin-bottom: 5px;
}

fieldset input {
	text-align: right;
	display: inline-block;
}

fieldset legend {
	font-weight: bold;
}

fieldset label.class {
	display: inline-block;
	width: 210px;
	text-align:right;		
}

fieldset.wide label.question{
	display: inline-block;
	width: 620px;	
}

fieldset.case {
	padding-bottom:2px;
}

fieldset.case label {
	display: inline-block;
	width: 140px;
	text-align:right;
}

fieldset.case input {
	text-align:left;		
}

fieldset#hits {	
	border: 1px solid red;
	margin-bottom: 10px;
}

fieldset#hits legend {	
	color: red;
}

fieldset#hits ul{	
	margin-top:5px;
	margin-bottom:5px;
	list-style-type:square;
	color: red;
}
